=form_for :adjustment, :url=>{:controller=>:mortgage_adjustments, :action=>:create}, :remote=>true do |a|
  =a.hidden_field :mortgage_id, :value=>@budget.mortgage.id
  %fieldset
    %legend Adjustment
    = a.error_messages
    %table
      %tr
        %th Month
        %td=a.text_field :month, :placeholder=>"which month to add adjustment"
      %tr
        %th Amount
        %td=a.text_field :amount, :placeholder=>"extra payment for this month"
      %tr
        %th Interest
        %td=a.text_field :interest, :placeholder=>"rate from this month onward"
      %tr
        %td{:colspan=>2,:align=>:right}=a.submit "Insert"
    
%table
  %tr{:class=>cycle('even', 'odd')}
    %th Month
    %th Interest
    %th Capital deduction
    %th Extra payment
    %th Balance
    %th New interest rate
  -@budget.mortgage.amortization.each do |month|
    %tr{:class=>cycle('even', 'odd')}
      %td=month[:month]
      %td=number_to_currency(month[:interest])
      %td=number_to_currency(month[:cap_deduction])
      %td=number_to_currency(month[:xtra_payment])
      %td=number_to_currency(month[:balance])
      %td=month[:new_rate].to_s
      %td=link_to('Remove adjustment', {:controller=>:mortgage_adjustments, :action=>:destroy, :id=>month[:adj_id]}, confirm: 'Are you sure?', method: :delete) if !month[:adj_id].blank? 