.budget-form
  =form_for @budget, :remote=>true do |b|
    =b.label "Name"
    =b.text_field :name, :placeholder=>"Friendly name for this budget"
    %br
    =b.label "Total asset"
    =b.text_field :total_asset, :placeholder=>"Total asset value"
    %hr
    =b.fields_for :mortgage do |m|
      =m.label "Purchased price"
      =m.text_field :purchased_price, :placeholder=>"Purchased price"
      %br
      =m.label "Down payment"
      =m.text_field :down_payment
      %br
      =m.label "Interest"
      =m.text_field :interest, :placeholder=>"Annual interest"
      %br
      =m.label "Loan term"
      =m.text_field :loan_term, :placeholder=>"Loan term in year"
      %br
      =m.label "Municipal tax"
      =m.text_field :municipal_tax, :placeholder=>"Annual municipal tax (Canada)"
      %br
      =m.label "School tax"
      =m.text_field :school_tax, :placeholder=>"Annual school tax (Canada)"
      %br
      =m.label "Heating cost"
      =m.text_field :heating, :placeholder=>"Annual heating cost"
      %br
      =m.label "House insurance"
      =m.text_field :house_insurance, :placeholder=>"Annual house insurance"
      %br
      =m.label "Mortgage insurance"
      =m.text_field :mortgage_insurance, :placeholder=>"Annual mortgage insurance, not taken into account in this calculator"
      %br
      =m.label "Revenue"
      =m.text_field :revenue, :placeholder=>"Annual revenue from leasing"
      %br
      =m.label "Family expense"
      =m.text_field :avg_monthly_expense, :placeholder=>"Monthly"
      %br
      =m.label "Net income"
      =m.text_field :net_monthly_income, :placeholder=>"Monthly"
    %hr
    =b.fields_for :investment do |i|
      =i.label "Principal"
      =i.text_field :principal, :placeholder=>"Initial value of investment"
      %br
      =i.label "Monthly deposit"
      =i.text_field :monthly_dep, :placeholder=>"monthly saving for investment"
      %br
      =i.label "Length"
      =i.text_field :months, :placeholder=>"Number of month until maturity"

    =b.submit "Calculate"


    

%hr

.budget-list
  =render @budgets
