:javascript
  // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
  function AppViewModel() {
    this.total_asset = ko.observable(0);
    this.down_payment = ko.observable(10);
    this.principal = ko.observable(5);

    this.total_asset = ko.computed(function() {
        debugger
        return this.down_payment() + this.principal();    
    }, this);
    
    //this.down_payment = ko.computed(function() {
    //    debugger
    //    return this.total_asset - this.principal();    
    //}, this);
    
    //this.principal = ko.computed(function() {
    //    return this.total_asset - this.down_payment();    
    //}, this);
  }

  // Activates knockout.js
  ko.applyBindings(new AppViewModel());

.budget-form#budget-form
  =render :partial=>"budget_form"
%hr

#budgets
  =render @budgets
