%tr
  %td{:colspan=>2}
    ="Value after #{@investment.alt_length.to_i} months with rate #{@investment.alt_rate}% and monthly deposit of #{number_to_currency(@investment.alt_monthly_dep)}: #{number_to_currency(@investment.alt_future_value)}" 