=form_for @finance do |f|
  = f.error_messages
  %fieldset
    %legend.finance-form Financial Situation 
    %table
      %tr
        %th=f.label "Net Monthly Income"
        %td=f.text_field :net_monthly_income, :placeholder=>"Total net monthly income"
      %tr
        %th=f.label "Net Monthly Expense"
        %td=f.text_field :net_monthly_expense, :placeholder=>"Total net monthly expense"
      %tr
        %th{:colspan=>2}
          =f.submit "Done"
